<div class="navbar-lewagon">
  <div class="domain">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "ketinhos.png", class:"perfil mr-2 ml-4" %>
      <%= image_tag "pepeket.png", width:250 %>
    <% end %>
  </div>
  <div class="box-search">
    <%= simple_form_for :search, url: root_path, method: :get, :html=> { class: "d-flex align-items-center search-form-control mr-5", id: "search-form" } do |f| %>
      <input class="form-search-nav string required" type="text" name="search[query]" id="search_query" placeholder="Searching for..."/>
      <%= link_to  "/#", type: "submit", class: "btn-search ml-2" do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>
  <div>
    <ul class="navbar-nav mr-auto">


      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, width: 80, height: 80, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
           <%= cl_image_tag("wcvhztmdjhwkhnelufkp.png", width: 80, height: 80, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "New product", "/products/new", class: "dropdown-item" %>
            <%= link_to "Your orders", user_purchased_path, class: "dropdown-item" %>
            <%= link_to "Your sales", user_announced_path, class: "dropdown-item" %>
            <%= link_to "Edit account", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "btn btn-green" %>
          <%= link_to "Sing up", new_user_registration_path, class: "btn btn-green" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="nav-options">
  <ul class="menu">
    <li>
      <a href="#"><i class="fas fa-bars"></i></a>
      
      <ul class="options">
        <li><%= link_to "Products", products_path %></li>
        <li><%= link_to "Dog", dog_products_path %></li>
        <li><%= link_to "Cat", cat_products_path %></li>
        <li><%= link_to "Fish", fish_products_path %></li>
        <li><%= link_to "Bird", bird_products_path %></li>
        <li><%= link_to "Rodent", rodent_products_path %></li>
        <li><%= link_to "Reptile", reptile_products_path %></li>
      </ul>
    </li>
  </ul>
</div>
