<div class="slick-modal">
  <%= image_tag  "https://source.unsplash.com/1600x500/?cat", class: "d-block w-100" %>
  <%= image_tag  "https://source.unsplash.com/1600x500/?dog", class: "d-block w-100" %>
  <%= image_tag  "https://source.unsplash.com/1600x500/?bunny", class: "d-block w-100" %>
</div>
<div class="inline">
  <h3>Categorias em destaque</h3>
  <div>
  <a href="/products/dog" class="btn-category"><%= image_tag  "dog" %></a>
  <a href="/products/cat" class="btn-category"><%= image_tag  "cat" %></a>
  <a href="/products/fish" class="btn-category"><%= image_tag  "fish" %></a>
  <a href="/products/rodent" class="btn-category"><%= image_tag  "rabbit" %></a>
  </div>
</div>

