<div class="slick-modal">
  <img src="https://source.unsplash.com/1600x500/?cat" class="d-block">
  <img src="https://source.unsplash.com/1600x500/?dog" class="d-block">
  <img src="https://source.unsplash.com/1600x500/?bunny" class="d-block">
</div>

<div class="extra-content">
  <div class="categories">
    <h3>Categorias em destaque</h3>
    <div>
      <a href="/products/dog" class="btn-category"><%= image_tag  "dog.svg", alt: "Dog" %></a>
      <a href="/products/cat" class="btn-category"><%= image_tag  "cat.svg", alt: "Cat" %></a>
      <a href="/products/fish" class="btn-category"><%= image_tag  "fish.svg", alt: "Fish" %></a>
      <a href="/products/rodent" class="btn-category"><%= image_tag  "rabbit.svg", alt: "Rabbit" %></a>
    </div>
  </div>
  <div class="list-ong">
    <h4>Doe para uma ONG</h4>
    <ul>
      <li><a href="http://www.caosemdono.com.br/doacoes/">Cão sem dono</a></li>
      <li><a href="http://amigosdesaofrancisco.com.br/ajuda-financeira">Amigos de São Francisco</a></li>
      <li><a href="http://www.catland.org.br/Donations/DonateNow">Catland</a></li>
    </ul>
  </div>
</div>

<div class="cards-home">
  <% @products.each do |product| %>
  <% if product %>

    <%= link_to  product_path(product.id) do %>
      <div class="card-product">
        <div class="nav-card">
          <div class="card-details">
            <p class="product-name"><%= product.name %></p>
            <p class="from">from <em class="username"><%= product.user.name %></em></p>
          </div>
        </div>
          <% if product.photos.attached? %>
            <%= cl_image_tag product.photos.first.key, class: "product-img-card", width: 300, height: 300 %>
          <% else %>
            <%= cl_image_tag("te2dj0lrofc7oo8m1xgb.jpg", class: "product-img-card", width: 300, height: 300) %>
          <% end %>
          <div class="price">
            <p>R$<%= product.price %></p>
          </div>
      </div>
      <% end %>
  <% else %>
  <h3>sem produtos</h3>
  <% end %>
  <% end %>
</div>
