<div class="container">
  <h1>My purchased products: </h1>
  <p><% @products_buy.each do |product| %></p>
    <div class="card-item">
      <% if product.photos.attached? %>
        <%= cl_image_tag product.photos.first.key, width: 120, height: 120 %>
      <% else %>
        <%= cl_image_tag("te2dj0lrofc7oo8m1xgb.jpg", width: 120, height: 120) %>
      <% end %>
      <div class="card-item-infos">
        <h2><%= product.name %></h2>
        <p><%= product.description %></p>
        <p>Código do produto: <%= product.id %></p>
        <p>Código da compra: <%= product.orders.where(progress: "Finalizado").first.id %></p>
        <p>Data da compra: <%= product.orders.where(progress: "Finalizado").first.date.strftime("%A, %d of %B in %Y, %H:%M h") %></p>
      </div>
    </div>
  <p><% end %></p>
</div>
