<div class="container">
    <div class="row justify-content-md-center">
      <% @products.each do |product| %>
        <%= link_to  product_path(product.id), class: "col-md-3 m-3" do %>
          <div class="card-product">
            <div class="nav-card">
              <div class="card-details">
                <p class="product-name"><%= product.name %></p>
                <p class="from">from <em class="username"><%= product.user.name %></em></p>
              </div>
            </div>
            <% if product.photos.attached? %>
              <%= cl_image_tag product.photos.first.key, class: "product-img-card", width: 300, height: 300 %>
            <% else %>
              <%= cl_image_tag("te2dj0lrofc7oo8m1xgb.jpg", class: "product-img-card", width: 300, height: 300) %>
            <% end %>
            <div class="price">
              <p>R$<%= product.price %></p>
            </div>
          </div>
        <% end %>
      <% end%>
    </div>
</div>