<div class="container">
  <div class="row justify-content-around">
    <% @products.each do |product| %>
      <% if product.user != current_user %>
        <div class="card" style="width: 18rem;">
          <% if product.photos.first.nil?%>
            <img src="https://i.pinimg.com/originals/c3/60/7a/c3607ad391a8bc5dae9e13bf76b48d62.jpg" class="card-img" alt="...">
          <% else %>
            <%= cl_image_tag product.photos.first.key, class: 'card-img' , crop: :fill %>
          <% end %>

          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: $<%= product.price %></li>
            <li class="list-group-item">Announced by: <%= product.user.name %></li>
            <li class="list-group-item">Announced on:<%= product.created_at %></li>
          </ul>

          <div class="card-body">
            <%= link_to "View product", product_path(product.id), class: "card-link" %>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      <% end %>
    <% end%>
  </div>
</div>