<h1>New Product</h1>

<%= simple_form_for [@user, @product] do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :tag_list, collection: %w(Dogs Cats Birds Reptiles Rodents) %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>


Upload foto produto


<%# <%= link_to 'Back to my page', XXXXXX_path %>