<div class="container">
  <h1>New Product</h1>

  <%= simple_form_for [@user, @product] do |f| %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :brand %>
    <%= f.input :description %>
    <%= f.input :tag_list, collection: %w(Dogs Cats Fishes Birds Reptiles Rodents) %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
