<h1>New Product</h1>

<%= simple_form_for [@user, @product] do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%# <%= f.association :category, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
