<h1>Details from: <%= @product.name %> </h1>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @product.photos.each do |photo| %>
      <% if @product.photos.first == photo %>
        <div class="carousel-item active">
      <% else %>
        <div class="carousel-item">
      <% end %>
        <%= cl_image_tag photo.key, class: "d-block w-100" %>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<p>Price: $<%= @product.price %></p>
<p><%= @product.tag_list %></p>
<p>Announced by user: <%= @product.user.id %></p>
<p>Published on: <%= @product.created_at %></p>
<p>Updated on: <%= @product.updated_at %></p>
<% if @product.avaiable && @product.user != current_user %>
  <%= link_to "Buy product",
  orders_path(product_id: @product.id),
  method: :post %>
<% end %>
<% unless @product.avaiable %>
  <h3>Indisponível</h3>
<% end %>
<br>
<br>
<%= link_to "Back to all products", root_path %>

<div class="card-show row justify-content-around">
  <%= cl_image_tag @product.photos.first.key, class: "product-img-show col-5" %>
  <div class="purchase-info col-5">
    <div class="show-content">
      <h2 class="product-name-show"><%= @product.name %></h2>
      <div class="details-product-show">
        <p>Marca: </p>
        <p>Código do produto: <%= @product.id %></p>
      </div>
      <h2 class="price-show">R$ <%= @product.price %></h2>
      <div class="payment">
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-stripe"></i>
      </div>
      <div class="seller my-2">
        <%= image_tag  "logo", class: "avatar-seller" %>
        <p>Vendido por <a href="#"><%= @product.user.name %></a></p>
      </div>
      <div class="delivery-show my-2">
        <i class="fas fa-truck"></i>
        <p>Entrega via Sedexi</p>
      </div>
    </div>
    <a href="#" class="btn-light-green">Buy product</a>
  </div>
</div>


