<div class="card-show row justify-content-around my-5">
  <% if @product.photos.attached? %>
    <%= cl_image_tag @product.photos.first.key, class: "product-img-show col-5" %>
  <% else %>
    <%= cl_image_tag("te2dj0lrofc7oo8m1xgb.jpg", class: "product-img-show col-5") %>
  <% end %>
  <div class="purchase-info col-5">
    <div class="show-content">
      <h2 class="product-name-show"><%= @product.name %></h2>
      <div class="details-product-show">
        <p>Marca: <%= @product.brand %></p>
        <p>Código do produto: <%= @product.id %></p>
      </div>
      <h2 class="price-show">R$ <%= @product.price %></h2>
      <div class="payment">
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-stripe"></i>
      </div>
      <div class="seller my-2">
        <% if @product.user.photo.attached? %>
          <%= cl_image_tag  @product.user.photo.key, class: "avatar-seller" %>
        <% else %>
          <%= cl_image_tag("wcvhztmdjhwkhnelufkp.png", class: "avatar-seller") %>
        <% end %>
        <p>Vendido por <a href="#"><%= @product.user.name %></a></p>
      </div>
      <div class="delivery-show my-2">
        <i class="fas fa-truck"></i>
        <p>Entrega via Sedexi</p>
      </div>
    </div>
    <% if @product.avaiable && @product.user != current_user %>
      <%= link_to "Buy product",
      orders_path(product_id: @product.id),
      method: :post,
      class: "btn-light-green" %>
    <% end %>
    <% unless @product.avaiable %>
      <h3>Indisponível</h3>
    <% end %>
  </div>
</div>
