<h1>Details from: <%= @product.name %> </h1>



<p>Price: $<%= @product.price %></p>
<p><%= @product.category %></p>
<p>Announced by user: <%= @product.user.id %></p>
<p>Published on: <%= @product.created_at %></p>
<p>Updated on: <%= @product.updated_at %></p>


<%= link_to "Buy product", root_path %>
<br>
<br>
<%= link_to "Back to all products", root_path %>



