<h1>Details from: <%= @product.name %> </h1>



<p>Price: $<%= @product.price %></p>
<p><%= @product.tag_list %></p>
<p>Announced by user: <%= @product.user.id %></p>
<p>Published on: <%= @product.created_at %></p>
<p>Updated on: <%= @product.updated_at %></p>
<% if @product.avaiable %>
  <%= link_to "Buy product",
  orders_path(product_id: @product.id),
  method: :post %>
<% else %>
  <h3>Indisponível</h3>
<% end %>
<br>
<br>
<%= link_to "Back to all products", root_path %>



